h4{
    color: white;
}
.top-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    height: 3rem;
    width: 100%;
    box-shadow: var(--collection-shadow) ;
    padding: 1rem;
    background-color: rgba(11, 12, 27, 0.23);
    
}
Button.button-space{
    margin-left: 2rem;
    box-shadow: var(--primary-box-shadow);
    color: white;
}
