.container-box{
    display: flex;
    flex-direction: row;
    z-index: -2;
}
.leftside .overlap-text{
    margin-top: 60%;
    margin-left: 25%;
    font-size: 70px;
    color: white;
}

.leftside{
    width: 30%;
}

.leftside .signup-image{
    width: 30%;
    height: 100vh;
    position: absolute;
    filter: blur(3px);
    z-index: -1;
}

.rightcontainer{
    padding-left: 10%;
}


.inactive-color{
    color: var(--inactive-text);
}

.textfield-size{
    max-width: 80%;
    border-radius: 10px;
}

@media(min-width :0px) and (max-width:800px){
    .rightcontainer{
        width: 100%;
    }
    .leftside{
        width: 0;
        display: none;
    }
}