.absolute-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cur-po{
    cursor: pointer;
}

.collection-title{
    font-size: 30px;
    color: var(--heading-text);
    margin-bottom: 32px;
    font-weight: 600;
}
.container{
    box-sizing: border-box;
    padding: 5px 20px 0 20px;
}
.vertical-align{
    display: flex;
    flex-direction: column;
}
