.container-box{
    display: flex;
    flex-direction: row;
    z-index: -2;
}
.leftside .overlap{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 90px;
    color: white;
    background: rgba(68, 68, 68, 0.5);
}


.leftside{
    width: 40%;
    height: 100%;
}

.login-image{
    height: 100vh;
    width: 30%;
    position: absolute;
    z-index: -1;
}


.rightcontainer{
    width: 60%;
    margin-top: 10%;
}

.inactive-color{
    color: var(--inactive-text);
}

.textfield-size{
    max-width: 80%;
    border-radius: 10px;

}
@media(min-width :0px) and (max-width:800px){
    .rightcontainer{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .leftside{
        width: 0;
        display: none;
    }
 
    .content-flex-row{
        display: flex;
        flex-direction: column;
    }
}