.overall{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:  rgb(33, 34, 73);
    height: 100%;
    width: 80%;
    margin-left: 10%;
    border-radius: 50px 40px 0 0;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    width: 90%;
  }


#align-item{
    display: flex;
    margin-left: 7rem;
    margin-top: 2rem;
    color: white;
}


  @media only screen and (max-width: 800px) and (min-width: 600px) {
    .overall{
        width: 60%;
    }
}