h3{
    color: white;
}
.top-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    height: 3rem;
    width: 100%;
    box-shadow: var(--collection-shadow) ;
    padding: 1rem;
    position: absolute;
    background-color: rgba(77, 74, 74, 0.5);
    
}
Button .button-space{
    margin-left: 10px;
    box-shadow: var(--primary-box-shadow);
    color: white;
}
